{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock meta %}
  <title>{% block title %}{% endblock title %}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/favicon.png" />
    {% block style %}{% endblock style %}
</head>
<body>
{% block body %}
    <div class="container-scroller">
    {% block header %} {% endblock header %}
    <div class="container-fluid page-body-wrapper">
    {% block main %} {% endblock main %}
    {% block right %} {% endblock right %}
    </div>
    </div>
{% endblock body %}
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="/static/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/static/js/off-canvas.js"></script>
  <script src="/static/js/hoverable-collapse.js"></script>
  <script src="/static/js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/js/dashboard.js"></script>
  <script src="/static/js/data-table.js"></script>
  <script src="/static/js/jquery.dataTables.js"></script>
  <script src="/static/js/dataTables.bootstrap4.js"></script>
  <!-- End custom js for this page-->
{% block script %}{% endblock script %}
</body>
</html>