{% extends 'css_js_base.html' %}
{% block body %}
    <div style="
    width: 250px;
">
        <h3 style="
    margin-left: 50px;
    margin-top: 60px;text-shadow: -1px -1px 0 #fff,1px 1px 0 #333,1px 1px 0 #444;

    font-weight: 600;
">{{ car_id }}</h3>
        <h5 style="
    margin-left: 50px;
    font-weight: 400;
">识别停车位号</h5>

        <ul class="navbar-nav mr-lg-4 w-100" style="
    height: 100px;
    margin-top: 50px;
    margin-left: 30px;
    width: 200px;
">
            <form action="{% url 'manager:car2' %}" method="POST" >
                {% csrf_token %}
                <input value="{{ car_id }}" name="car_id" style="display: none">
                <div class="input-group" style="
    width: 200px;
">
                    <select class="form-control form-control-lg" id="exampleFormControlSelect2" name="dropdown" style="
    height: 45px;
    width: 10px;
    padding-right: 0px;
    padding-left: 10px;
    font-weight: bolder;
    color: black;">
                        <option value="0">A区</option>
                        <option value="1">B区</option>
                        <option value="2">C区</option>
                        <option value="3">D区</option>
                    </select>

                    <input type="text" class="form-control" placeholder="车位号" aria-label="spot_num" name="spot_num"
                           aria-describedby="spot_num">

                    <span class="input-group-text" style="
    height: 46px;
    width: 42px;
    padding-left: .;
    padding-right: 0px;
    padding-left: -10;
    border-left-width: -10;
    padding-left: -10;
    padding-left: 0px;
">
                        			<input type="submit" class="btn btn-default" name="sip" value="提交" style="
    padding-left: 10px;
">
                    </span>


                </div>
            </form>
        </ul>


    </div>
{% endblock body %}
