<nav class="sidebar sidebar-offcanvas" id="sidebar" style="
    width: 323px;
">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="table_stoppedcar.html">
              <i class="mdi mdi-view-headline menu-icon"></i>
              <span class="menu-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">当前停放车辆</font></font></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table_historystop.html">
              <i class="mdi mdi-file-outline menu-icon"></i>
              <span class="menu-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">历史停放车辆</font></font></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table_stoparea.html">
              <i class="mdi mdi-chart-pie menu-icon"></i>
              <span class="menu-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">车位信息</font></font></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table_errorarea.html">
              <i class="mdi mdi-information-outline menu-icon"></i>
              <span class="menu-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">异常车位</font></font></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table_carinfo.html">
              <i class="mdi mdi-emoticon menu-icon"></i>
              <span class="menu-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">VIP车辆</font></font></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="table_tip.html">
              <i class="mdi mdi-bell-ring-outline menu-icon"></i>
              <span class="menu-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">消息</font></font></span>
            </a>
          </li>
        </ul>
      </nav>